{% extends 'base.html' %}
{% load static%}

{% block content %}
<div style="height: 10px;">
</div>
<section>
    <div class="row" id="card">
        <div class="col-md-6 d-flex text-center" style="height: fit-content;">
        <h2 id="tantric-title"><em>...The Tantric Way</em></h2>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'images/guru-rinpoche.jpg' %}" alt="Image of the magnificent Guru Rinpoche - Also known as, the lotus-born" class="mb-3 frame-image" >
            <p class="text-center text-muted" style="word-wrap: break-word;">The magnificent Padmasambhava, also known as Guru Rinpoche, is a key figure in Tibetan Buddhism and is the emanation of Amitabha Buddha</p>
            <p class="text-center text-muted" style="word-wrap: break-word;">Guru Rinpoche, the very one, who, emerged from a lotus flower on the lake of Dhanakosha, levitated effortlessly, flew a tiger over bhutan and wandered through the mountains of tibet. Subduing humans and demons - sealed oaths. Bless me that my wishes be spontaneously fulfilled. </p>
            <p class="text-center text-muted" style="word-wrap: break-word;"><img src="{% static 'images/lotus.png' %}" style="width: 32px; height: auto;"><em> Om Mani Pemé Hung</em> - <em>Of the Vajrayana </em></p>
        </div>
    </div>
    <div class="mt-4 container justify-content-center align-items-center text-center d-flex flex-column" style="padding: 20px; border-radius: 4px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        <iframe max-width="560" max-height="315" src="https://www.youtube.com/embed/2aGn8EIDlYs?si=gQUJBL6wDrLGbqyx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</section>
<section>
    <div class="row mt-4" id="card">
        <div class="col-md-6 d-flex flex-column" style="height: fit-content;">
        <h3><img src="{% static 'images/lotus.png' %}" style="width: 32px; height: auto;"> Who am I...</h3>
        <p></p>
        <p> Alison Kershaw is a spiritual counselor with over 15 years of experience in guiding individuals on transformative journeys of self-discovery. Through her compassionate approach and deep understanding of metaphysical principles, Alison helps clients explore their past lives to uncover hidden patterns, heal emotional wounds, and gain profound insights into their current life challenges. Her sessions are designed to facilitate personal growth, spiritual awakening, and a deeper connection to one's true essence. Alison is dedicated to empowering individuals to embrace their authentic selves and live fulfilling lives aligned with their soul's purpose.
        </p>
        <p class="text-muted">Qualifications:</p>
        <ul class="text-muted">
            <li>Clairvision School Graduate</li>
            <li>Archetypal Meditation Practitioner</li>
            <li>Over 15 years of experience in transformative practices</li>
        </ul>
        <p>Currently offering personalized spiritual counseling sessions, including past-life regression therapy and archetypal meditation guidance. Please contact for more details.</p>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'images/Alison-bird.jpg' %}" alt="Image of Alison Kershaw" class="mb-3" style="width: 350px; height: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);" >
            <p class="text-center text-muted" style="word-wrap: break-word;"><img src="{% static 'images/lotus.png' %}" style="width: 32px; height: auto;"><em> Om Mani Pemé Hung</em> - <em>Of the Vajrayana </em></p>
        </div>
    </div>
</section>
<section>
    <div class="mt-4 mb-4" id="card">
        <form action="{% url 'contact' %}" method="post" class="d-flex flex-column container-fluid" style="max-width: 700px;" id="contact-form">
            {% csrf_token %}
            <label class="form-control" for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required placeholder="Enter your forename here...">
            <label class="form-control" for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required placeholder="Enter your surname here...">
            <label class="form-control" for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email here...">
            <label class="form-control" for="message">Message:</label>
            <textarea id="message" name="message" rows="4" style="height: 300px;" placeholder="Enter your message here..." required></textarea>
            <button class="btn btn-secondary" type="submit">Send Message</button>
        </form>
    </div>
</section>
{% endblock %}