{% extends 'base.html' %}
{% load static%}

{% block content %}
<div style="height: 10px;">
</div>
<section>
    <div class="row" id="card">
        <div class="col-md-6 d-flex text-center" style="height: fit-content;">
            <div id="card">
        <h2 id="tantric-title"><em><img src="{% static 'images/lotus.png' %}" style="width: 32px; height: auto;"> Past Life Regression Therapy</em></h2>
        <br>
        <h3>With Alison Kershaw</h3>
        <p>- Sentient Being</p>
        <br>
        <p><em>'With years of spiritual and inner work - I have developed a unique approach to healing and self-discovery.'</em></p>
        <h3 class="mt-2" style="padding: 20px; background-color: azure;">Delivering in-depth 90 minute online sessions</h3>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column fade-in-right mt-4">
            <img src="{% static 'images/meditation.jpg' %}" alt="Image of the magnificent Guru Rinpoche - Also known as, the lotus-born" class="mb-3 frame-image" >
            <p class="text-center text-muted" style="word-wrap: break-word;">Alignment with the higher self</p>
            <p class="text-center text-muted" style="word-wrap: break-word;"><img src="{% static 'images/lotus.png' %}" style="width: 32px; height: auto;"><em> Return...</em></p>
        </div>
    </div>
</section>

<div style="height: 100px;">
</div>
<article>
    <div class="row">
    <div class="col-md-6 d-flex justify-content-center align-items-center flex-column fade-in-left">
        <img src="{% static 'images/ocean-meditator.jpg' %}" alt="Divider Image" class="divider-image my-4 container" id="div-img">
    </div>
    <div class="col-md-6 d-flex justify-content-center align-items-center flex-column fade-in-right">
        <h2 class="text-center text-muted" style="word-wrap: break-word;">Obstacles come in many forms...</h2>
        <h4 class="text-center text-muted" style="word-wrap: break-word;">They can be emotional, mental, or even physical.</h4>
        <br>
        <h6 class="text-center text-muted" style="word-wrap: break-word;"><img src="{% static 'images/lotus.png' %}" style="width: 32px; height: auto;"><em> But they come to teach...</em></h6>
    </div>
    </div>
</article>
<div style="height: 100px;">
</div>

<section class="fade-in-left">
    <div class="row mt-4" id="card">
        <div class="col-md-6 d-flex flex-column" style="height: fit-content;">
        <h3><img src="{% static 'images/lotus.png' %}" style="width: 32px; height: auto;"> Who am I...</h3>
        <p></p>
        <p> Alison Kershaw is a spiritual counselor with over 15 years of experience in guiding individuals on transformative journeys of self-discovery. Through her compassionate approach and deep understanding of metaphysical principles, Alison helps clients explore their past lives to uncover hidden patterns, heal emotional wounds, and gain profound insights into their current life challenges. Her sessions are designed to facilitate personal growth, spiritual awakening, and a deeper connection to one's true essence. Alison is dedicated to empowering individuals to embrace their authentic selves and live fulfilling lives aligned with their soul's purpose.
        </p>
        <p class="text-muted">Qualifications:</p>
        <ul class="text-muted">
            <li>Archetypal Meditation Practitioner</li>
            <li>Over 15 years of experience in transformative practices</li>
        </ul>
        <p>Currently offering personalized spiritual counseling sessions, including past-life regression therapy and archetypal meditation guidance. Please contact for more details.</p>
        <ul class="text-muted">
            <li>90 minutes - £200</li>
            <li>Zoom meeting</li>
        </ul>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
            <img src="{% static 'images/Alison-bird.jpg' %}" alt="Image of Alison Kershaw" class="mb-3" style="width: 350px; height: auto; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);" >
            <p class="text-center text-muted" style="word-wrap: break-word;"><img src="{% static 'images/lotus.png' %}" style="width: 32px; height: auto;"><em> Om Mani Pemé Hung</em></p>
        </div>
    </div>
</section>
<section>
    <div class="mt-4 mb-4" id="card">
        <form action="{% url 'contact' %}" method="post" class="d-flex flex-column container-fluid" style="max-width: 700px;" id="contact-form">
            {% csrf_token %}
            <label class="form-control" for="first_name">First Name:</label>
            <input type="text" id="first_name" name="first_name" required placeholder="Enter your forename here...">
            <label class="form-control" for="last_name">Last Name:</label>
            <input type="text" id="last_name" name="last_name" required placeholder="Enter your surname here...">
            <label class="form-control" for="email">Email:</label>
            <input type="email" id="email" name="email" required placeholder="Enter your email here...">
            <label class="form-control" for="message">Message:</label>
            <textarea id="message" name="message" rows="4" style="height: 300px;" placeholder="Enter your message here..." required></textarea>
            <button class="btn btn-secondary" type="submit">Send Message</button>
        </form>
    </div>
</section>

<script>
   document.addEventListener('DOMContentLoaded', function() {
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
        observer.unobserve(entry.target);
      }
    });
  }, { threshold: 0.1 });

  document.querySelectorAll('.fade-in-right, .fade-in-left').forEach(div => {
    observer.observe(div);
  });
});
    </script>
{% endblock %}